extends layout

block content
  h1= title
  ul
    each dept in results
      div(class="card my-3 p-3 border")
        li Department Name: #{dept.departmentName}
        li Size: #{dept.size}
        li Budget: #{dept.budget}
      button.btn( class="btn-primary ml-1", onclick= `navigateToupdate('${dept._id}')`) Update
    script.
      function navigateToupdate(departmentid){
        window.location.href = `/department/update?id=${departmentid}`;
      }
              